{% extends 'base.html' %}
{% block title %}
  Пост {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
<h1> Информация о Посте № {{ post.pk }}</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group ">
      <li class="list-group-item">
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
      {% if post.group.title %}
      <li class="list-group-item">
        Группа: 
        <a href="{% url 'posts:group_list' post.group.slug %}" class="list-group-item-action">
          {{ post.group.title }}
        </a>
      </li>
      {% endif %}
      <li class="list-group-item">
        Автор: {{ post.author.get_full_name }}
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Всего постов автора:  <span >{{ post.author.posts.count }}</span> 
      </li>
      <li class="list-group-item">
        все посты пользователя:
        <br> 
        <a href="{% url 'posts:profile' post.author %}" class="list-group-item-action">
          {{ post.author.get_full_name }}
        </a>
      </li>
      {% if user == post.author %}
        <li class="list-group-item">
          <a href="{% url 'posts:post_edit' post.id  %}" class="list-group-item-action">
            Изменить пост 
          </a>
        </li> 
      {% endif %}
    </ul>
  </aside>     
  <hr>
  <article class="col-12 col-md-9">
    <p>
      {% autoescape on %}
        <p>{{ post.text|linebreaksbr }}</p>
      {% endautoescape %}
    </p>
  </article
{% endblock %}
